[Desktop Entry]
Encoding=UTF-8
Name=Sphinx-Qt Unit test
Comment=Sphinx P2P gaming related cryptocurrency - UNITTEST
Comment[fr]=Sphinx unittest, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Sphinx unittest, eşten eşe kriptografik sanal para birimi
Exec=sphx-qt --unittest %u
Terminal=false
Type=Application
Icon=sphx128-unittest
MimeType=x-scheme-handler/sphx;
Categories=Office;Finance;
