# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Sphinx Daemon Testnet (reindex)
Icon=${SNAP}/sphxd128testnet.png
MimeType=x-scheme-handler/sphx;
Exec=sphxd %u --testnet --reindex
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Sphinx Digital Currency Testnet Daemon (reindex) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;sphx;testnet;daemon;server;crypto;currency;snap;snapcraft;reindex;
Name[de_DE]=sphxd-testnet-reindex.desktop.desktop
