# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Sphinx Qt (Testnet) (resync)
Icon=${SNAP}/sphx128testnet.png
MimeType=x-scheme-handler/sphx;
Exec=sphx %u --testnet --resync
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Sphinx Digital Currency QT (Testnet) (resync) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;sphx;testnet;qt;crypto;currency;snap;snapcraft;resync;
Name[de_DE]=sphx-testnet-resync.desktop.desktop
