# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Verssphx=3.0.0
Encoding=UTF-8
Name=Sphinx Qt (reindex)
Icon=${SNAP}/sphx128.png
MimeType=x-scheme-handler/sphx;
Exec=sphx %u --reindex
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Sphinx Digital Currency QT (reindex main net) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;sphx;main;qt;crypto;currency;snap;snapcraft;reindex;
Name[de_DE]=sphx-reindex.desktop.desktop
