# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Sphinx Daemon (reindex)
Icon=${SNAP}/sphxd128.png
MimeType=x-scheme-handler/sphx;
Exec=sphxd %u --reindex
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Sphinx Digital Currency Daemon (reindex) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;sphx;main;daemon;server;crypto;currency;snap;snapcraft;
Name[de_DE]=sphxd-reindex.desktop.desktop
